
.header-title {
    text-align: center;
    width: 100%; 
    font-weight: bold; 
    font-size: 150%;
    color: rgb(236, 13, 225);
  }
  .log{
    color:red;
  }
  
  
//   ion-toolbar {
//     --background: #3880ff; 
//   }
  